@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

@import url("https://cdn-uicons.flaticon.com/uicons-regular-rounded/css/uicons-regular-rounded.css");
@import url("https://cdn-uicons.flaticon.com/uicons-regular-straight/css/uicons-regular-straight.css");
@import url("https://cdn-uicons.flaticon.com/uicons-solid-rounded/css/uicons-solid-rounded.css");
@import url("https://cdn-uicons.flaticon.com/uicons-solid-straight/css/uicons-solid-straight.css");
@import url("https://cdn-uicons.flaticon.com/uicons-bold-rounded/css/uicons-bold-rounded.css");
@import url("https://cdn-uicons.flaticon.com/uicons-bold-straight/css/uicons-bold-straight.css");
@import url("https://cdn-uicons.flaticon.com/uicons-thin-rounded/css/uicons-thin-rounded.css");
@import url("https://cdn-uicons.flaticon.com/3.0.0/uicons-thin-rounded/css/uicons-thin-rounded.css");


@import "tailwindcss";

@layer utilities {
  .animate-fade-in {
    animation: fadeIn 0.3s ease-out forwards;
  }
  
  /* Animation pour le contenu de la modale (léger zoom) */
  .animate-scale-in {
    animation: scaleIn 0.2s ease-out forwards;
  }
}

@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}

@keyframes scaleIn {
  from { transform: scale(0.95); opacity: 0; }
  to { transform: scale(1); opacity: 1; }
}

*{
  font-family: "Roboto", sans-serif;

}

@layer components {
  /* Style pour le contenu riche des posts */
  .post-content blockquote {
    border-left: 6px solid #6366f1; /* Couleur Indigo */
    padding-left: 1rem;
    margin-left: 0;
    margin-right: 0;
    font-style: italic;
    color: #374151; /* Gris clair (text-gray-400) */
    background: #00ff73ff; /* Optionnel: fond léger */
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
  }

  .post-content ul {
    list-style-type: disc;
    padding-left: 1.5rem;
  }

  .post-content ol {
    list-style-type: decimal;
    padding-left: 1.5rem;
  }
  
  .post-content strong {
      font-weight: 700;
      color: #fff;
  }
  
  .post-content em {
      font-style: italic;
  }
}